.films-nav, .film-list {
    display: flex;
    align-items: center;
}

.film-title, .film-list {
    background: linear-gradient(269.96deg, #2E312F 5.52%, rgba(83, 219, 238, 0) 124.53%);
}

.film-title {
    border-radius: 73px 0 0 73px;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 32px;
    margin-right: 17px;
    padding: 22px 0 22px 28px;
    width: 40vw;
}

.film-list {
    border-radius: 0 73px 73px 0;
    padding: 22px 0;
    padding-left: 10px;
    width: 100%;
}

.film-item {
    margin-right: 49px;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 32px;
}

.actvie {
    color: var(--color-skyblue);
}

.film-item:nth-child(2) {
    margin-right: 32px;
}

.film-item:nth-child(3) {
    margin-right: 32px;
}

.film-item:nth-child(5) {
    opacity: 0.5;
}

.title {
    margin: 0;
}

.button {
    margin-bottom: 34px;
}

.info {
    margin-bottom: 187px;
}

.videos-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 145px;
}

.step-title {
    color: #3D82F2;
    text-align: center;
}

.our-text {
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    margin: auto;
    margin-bottom: 29px;
    text-align: center;
    max-width: 908px;
    width: 100%;
}

.our-btn {
    background-color: transparent;
    border: 1px solid #707070;
    margin-bottom: 270px;
}

.middle-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 254px;
}

.device-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 74px;
}

.step-2 {
    margin-bottom: 164px;
}

.device-btn {
    background-color: #326CF9;
    margin-left: 35%;
    margin-bottom: 265px;
}

.middle-item {
    margin-bottom: 71px;
}

.middle-info .title {
    text-align: left;
}

.middle-list .device-btn {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-left: 20%;
    max-width: 207px;
    width: 100%;
}

.middle-2 {
    align-items: start;
}

.social-bg {
    background-image: url("../images/social-image.png");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 441px;
}