

.title, .subtitle {
    text-align: center;
}

.title {
    font-weight: 600;
    font-size: 3.75rem;
    line-height: 5.6rem;
}

.subtitle {
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-bottom: 70px;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 84px 144px;
    margin-bottom: 68px;
}

.form-container label {
    border-bottom: 1px solid var(--color-white);
    display: flex;
    justify-content: space-between;
    padding: 0 10px 17px 0;
    width: 100%;
}

.form-container input {
    background: transparent;
    border: 0;
    font-size: 23px;
    width: inherit;
}

.form-btn {
    background-color: var(--color-skyblue);
    border-radius: 12px;
    color: var(--color-black);
    cursor: pointer;
    font-size: 1.3rem;
    line-height: 1.95rem;
    padding: 1.25rem 0;
    width: 100%;
}

.other-text {
   text-align: center;
   margin-bottom: 46px;
}

.other-text h1 {
    font-weight: 600;
    font-size: 2.7rem;
    line-height: 4.5rem;
    user-select: none;
}

.other-text a {
    font-size: 24px;
    line-height: 36px;
}

/* ===== START SOCIALS SECTION ====== */
.socials {
    margin-bottom: 69px;
}

.socials a {
    border: 2px solid var(--color-white);
    border-radius: 12px;
    padding: 1rem 12.5px 1rem 65px;
}

.socials a img {
    margin-right: 9px;
}
/* ===== END SOCIALS SECTION ====== */

.link {
    display: block;
    text-align: center;
    padding-bottom: 74px;
}