@media screen and (max-width: 1740px) {
    .list .item:nth-child(6) {
        display: none;
    }
}

@media screen and (max-width: 1640px) {
    .list .item:nth-child(5) {
        display: none;
    }
}

@media screen and (max-width: 1490px) {
    .list .item:nth-child(4) {
        display: none;
    }

    .title {
        font-size: 3rem; 
    }
}

@media screen and (max-width: 1400px) {
    .list .item:nth-child(3) {
        display: none;
    }

    .title {
        font-size: 2.5rem; 
    }
}

@media screen and (max-width: 1280px) {
    .list .item:nth-child(2), .lang-section {
        display: none;
    }

    .treaty-text {
        font-size: 2rem;
    }
}

@media screen and (max-width: 1100px) {
    .list .item:nth-child(1), .list .item:nth-child(7) {
        display: none;
    }

    .title {
        line-height: 3rem;
    }
}

/* ===== MEDIA FOR MIDDLE DESKTOPS AND TABLETS ===== */
@media screen and (max-width: 992px) {
    .lang-section {
        margin-right: 1rem;
    }

    .title {
        font-size: 2.7rem;
    }

    .subtitle {
        font-size: 0.9rem;
    }

    .form-btn {
        font-size: 1rem;
        padding: 0.8rem;
        width: 100%;
    }

    .socials {
        justify-content: space-around;
    }

    .socials a {
        padding: 0.9rem 1.2rem;
        font-size: 0.8rem;
        text-align: center;
    }
}

/* ===== MEDIA FOR TABLETS ===== */
@media screen and (max-width: 768px) {
    .site-header {
        padding-top: 20px;
        flex-direction: column;
    }

    .site-logo {
        margin-bottom: 20px;
    }
    
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .list .item:nth-child(1) {
        display: block;
    }

    .form-container {
        column-gap: 50px;
        margin-bottom: 50px;
    }

    .socials {
        justify-content: space-between;
    }

    .socials a {
        width: 45%;
    }
}

/* ===== MEDIA FOR MOBILE DEVISES ===== */
@media screen and (max-width: 576px) {
    .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .site-header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 50px;
        margin-bottom: 30px;
    }

    .site-logo {
        margin-bottom: 0;
    }

    .site-logo span {
        font-size: 1.5rem;
    }

    .list .item:nth-child(1), .top {
        display: none;
    }

    .title {
        font-size: 2.2rem;
    }

    .subtitle {
        font-size: 0.7rem;
    }

    .login a:first-child, .lang-section {
        display: none;
    }

    .nav {
        width: inherit;
    }

    .form-container {
        grid-template-columns: 1fr;
    }

    .socials {
        flex-direction: column;
    }

    .socials a {
        width: 100%;
        justify-content: center;
    }

    .socials a:first-child {
        margin-bottom: 15px;
    }

    /* Tearnery-section */
    .text-container {
        border-left: 15px solid #999;
        border-right: 15px solid #999;
        padding: 0 20px;
    }

    .treaty-title {
        font-size: 1.5rem;
    }

    .treaty-text {
        font-size: 1rem;
        line-height: 1.7rem;
    }
}

@media screen and (max-width: 490px) {
    .site-logo span {
        display: none;
    }

    .info {
        flex-direction: column;
    }
}